@import url('http://fonts.cdnfonts.com/css/negotiate');

body,
html {
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  font-family: 'Negotiate Free', sans-serif;
  background-color: grey;
}
