#tabbar {
  height: 20vw;
  width: 100vw;
  border-top: 1vh solid slateblue;
  background-image: linear-gradient(to right, #3e9fa0, #1e4989);
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tab {
  min-width: 11.5%;
  height: 85%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: rgba(170, 43, 49, 0.3);
  border-radius: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-capturing {
  background-color: rgba(170, 43, 49, 0.5);
}

.tab-note {
  width: 30%;
  height: 13%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: rgba(170, 43, 49, 0.8);
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-display {
  text-align: center;
  font-size: 3vh;
  user-select: none;
  font-family: 'Negotiate Free', sans-serif;
  color: white;
  text-shadow: 0.2vw 0.2vh black;
}

#tabbar::-webkit-scrollbar {
  height: 2.5vw;
}
#tabbar::-webkit-scrollbar-track {
  display: none;
}

#tabbar::-webkit-scrollbar-thumb {
  display: contents;
  background: rgba(170, 43, 49, 0.3);
  border-radius: 2.5vh;
}
