#tabbar {
  height: 20vw;
  width: 100vw;
  border-top: 1vh solid slateblue;
  background-color: royalblue;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tab {
  min-width: 11.5%;
  height: 85%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: aqua;
  border-radius: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-capturing {
  background-color: teal;
}

.tab-note {
  width: 30%;
  height: 13%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: red;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
}

.note-display {
  font-size: 1.5vh;
  user-select: none;
  color: white;
}

#tabbar::-webkit-scrollbar {
  height: 2.5vw;
}
#tabbar::-webkit-scrollbar-track {
  display: none;
}

#tabbar::-webkit-scrollbar-thumb {
  display: contents;
  background: blue;
  border-radius: 2.5vh;
}
